//-
- var title = ''
doctype html
title #{title}
body
  link(rel='stylesheet', href='./node_modules/bootstrap/dist/css/bootstrap.min.css')
  script(src='./node_modules/bootstrap/dist/js/bootstrap.min.js')
  .container
    .row.justify-content-center
      h1 #{title}
